@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #800080bf;
    --cor-secundário: white;
    --cor-destaque: grey;
}

body {
    font-family: 'Roboto Condensed', ital;
}

h1, h2, h5 {
    color: var(--cor-secundário);
    font-weight: 700;
}

footer a {
    color: var(--cor-principal);
}

footer a:hover {
    color:var(--cor-destaque)
}